@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');

* {
    margin: 0;
    padding: 0;
}

/* Print Styling */

#print-title {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.print-list {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

/* HTML Styling */

html {
    background-color: white;
    background-image: url(./images/background.png);
    background-position: center;
    background-size: cover;
    display: flex;
    font-family: 'Quicksand', sans-serif;
    justify-content: center;
    min-width: 1290px;
}

/* Title */

.title-box {
    display: flex;
    justify-content: center;
    white-space: nowrap;
    width: 1290px;
}

.title-box h1 {
    color: white;
    font-family: 'Cabin Sketch', sans-serif;
    font-size: 3rem;
    font-weight: bold;
    margin-top: 20px;
}

/* Toolbar */

.toolbar {
    align-items: center;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    margin: 20px 20px 0px 20px;
    padding: 20px;
}

.toolbar-section {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.toolbar-section span {
    font-size: 0.75rem;
    margin: 5px;
}

.toolbar-divider {
    background-color: darkgrey;
    height: 70px;
    margin: 0px 20px;
    width: 1px;
}

.buttons-container {
    align-items: center;
    display: flex;
    justify-content: center;
}

.classroom-button-underlay, .object-button-underlay, .print-button-underlay {
    align-items: center;
    border-radius: 10px;
    display: flex;
    height: 30px;
    justify-content: center;
    margin: 3px;
    width: 60px;
}

.classroom-button-underlay {
    background-color: cornflowerblue;
}

.object-button-underlay {
    background-color: yellowgreen;
}

.print-button-underlay {
    background-color: gold;
}

.toolbar-button {
    align-items: center;
    background-color: transparent;
    border-radius: 10px;
    border: none;
    box-shadow: none;
    cursor: pointer;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    height: 30px;
    justify-content: center;
    outline: none;
    width: 60px;
}

.toolbar-button:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

/* Main Area */

.wrapper {
    display: grid;
    grid-template-columns: 50px 360px 820px;
    grid-template-rows: 820px;
    margin: 20px;
}

.sidebar {
    height: 820px;
    position: relative;
    width: 360px;
}

.tabs-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tab {
    align-items: center;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border: none;
    box-shadow: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    height: 410px;
    justify-content: center;
    outline: none;
    width: 50px;
}

.tab span {
    transform: rotate(-90deg);
}

#objects-tab {
    background-color: rgba(255, 166, 0, 0.6);
}

#students-tab {
    background-color: rgba(255, 99, 71, 0.6);
}

/* Objects Panel */

.objects-panel {
    background-color: rgba(255, 166, 0, 0.6);
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    height: 780px;
    padding: 20px;
    position: absolute;
    visibility: visible;
    width: 320px;
}

.objects-panel-section {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.objects-panel-section span {
    font-size: 1rem;
}

.add-object-button-underlay {
    align-items: center;
    background-color: green;
    border-radius: 10px;
    display: flex;
    height: 40px;
    justify-content: center;
    width: 60px;
}

.add-object-button {
    align-items: center;
    background-color: transparent;
    border-radius: 10px;
    border: none;
    box-shadow: none;
    cursor: pointer;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    height: 40px;
    justify-content: center;
    outline: none;
    width: 60px;
}

.add-object-button:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

/* Students Panel */

.students-panel {
    background-color: rgba(255, 99, 71, 0.6);
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    height: 780px;
    padding: 20px;
    position: absolute;
    visibility: hidden;
    width: 320px;
}

.add-student-button-underlay, .sort-az-button-underlay {
    align-items: center;
    border-radius: 10px;
    display: flex;
    height: 40px;
    justify-content: center;
    width: 50%;
}

.add-student-button-underlay {
    background-color: green;
    margin-right: 3px;
}

.sort-az-button-underlay {
    background-color: mediumpurple;
    margin-left: 3px;
}

#add-student-button, #sort-az-button {
    align-items: center;
    background-color: transparent;
    border-radius: 10px;
    border: none;
    box-shadow: none;
    cursor: pointer;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    height: 40px;
    justify-content: center;
    outline: none;
    width: 100%;
}

#add-student-button:hover, #sort-az-button:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.student-list {
    background-color: rgb(236, 236, 236, 0.6);
    border-radius: 10px;
    height: 710px;
    margin-top: 20px;
    overflow: hidden scroll;
    padding: 5px;
}

.student {
    align-items: center;
    background-color: white;
    border-radius: 10px;
    display: flex;
    margin: 5px;
    padding: 10px;
}

.student p {
    margin-right: 10px;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
}

.student-info-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    padding-right: 8px;
}

.assign-desk-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    padding-right: 8px;
}

.remove-student-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1rem;
}

.assigned {
    background-color: rgb(223, 255, 205);
}

/* Classroom */

.classroom-wrapper {
    align-items: center;
    background-color:rgba(238, 232, 170, 0.6);
    border-radius: 10px;
    display: flex;
    height: 820px;
    justify-content: center;
    margin-left: 20px;
    width: 820px;
}

.classroom {
    background-blend-mode: lighten;
    background-color: rgba(255,255,255,0.6);
    background-image: url(./images/grid.png);
    border: 5px solid darkgrey;
    box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.8);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 380px;
    margin: 20px;
    max-height: 760px;
    max-width: 760px;
    overflow: hidden;
    position: relative;
    width: 380px;
}

/* Objects */

.student-desk {
    align-items: center;
    background-color: lightgrey;
    border: 2px solid black;
    cursor: pointer;
    display: flex;
    height: 26px;
    justify-content: center;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 26px;
}

.student-desk i{
    pointer-events: none;
}

.teacher-desk {
    background-color: brown;
    border: 2px solid black;
    cursor: pointer;
    height: 46px;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 76px;
}

.bookshelf {
    background-color: burlywood;
    border: 2px solid black;
    cursor: pointer;
    height: 16px;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 46px;
}

.whiteboard {
    background-color: rgb(120, 165, 79);
    border: 2px solid black;
    cursor: pointer;
    height: 6px;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 96px;
}

.doorway-left, .doorway-right {
    background-color: rgba(255, 160, 122, 0.5);
    border: 2px dotted black;
    cursor: pointer;
    height: 36px;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 36px;
}

.doorway-left {
    border-bottom-right-radius: 100%;
    border-left: 2px solid black;
}

.doorway-right {
    border-left: 2px solid black;
    border-top-right-radius: 100%;
}

.window {
    background-color: rgba(10, 187, 187, 0.5);
    border-radius: 8px;
    border: 2px solid black;
    cursor: pointer;
    height: 6px;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 50px;
}

.wall-segment {
    background-color: darkgrey;
    border: 5px solid darkgrey;
    cursor: pointer;
    height: 50px;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 0px;
}

.round-table {
    background-color:bisque;
    border-radius: 50%;
    border: 2px solid black;
    cursor: pointer;
    height: 56px;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 56px;
}

[data-object-id]:hover {
    border-color: aqua;
}

.selected {
    border-color: greenyellow;
}

.occupied {
    background-color: lightgrey;
}

/* Display Names */

.display-name {
    align-items: center;
    background-color: black;
    border-radius: 6px;
    bottom: 120%;
    color: #fff;
    display: flex;
    font-size: 0.6rem;
    justify-content: center;
    padding: 2px 6px 3px 6px;
    pointer-events: none;
    position: absolute;
    text-align: center;
    visibility: hidden;
    white-space: nowrap;
    z-index: 1;
}

.display-name::after {
    border-color: black transparent transparent transparent;
    border-style: solid;
    border-width: 5px;
    content: "";
    left: 50%;
    margin-left: -5px;
    pointer-events: none;
    position: absolute;
    top: 100%;
}

/* Modal */

.add-student-modal{
    background-color: rgba(0,0,0,0.6);
    display: none;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.modal-container {
    background-color: #fefefe;
    border-radius: 10px;
    border: 1px solid black;
    margin: 15% auto;
    min-width: 400px;
    padding: 20px;
    width: 20%;
}

.modal-header {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    width: 100%;
}

.modal-header p {
    font-size: 1.5rem;
    font-weight: bold;
}

.modal-content {
    margin: 20px 0px 30px 0px;
}

.modal-section {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    margin-top: 15px;
    white-space: nowrap;
}

.modal-section label {
    font-weight: bold;
}

.modal-section input {
    margin-left: 10px;
    width: 70%;
}

#first-name, #last-name {
    padding: 3px;
}

.modal-footer {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 15px;
    width: 100%;
}

.modal-button-underlay {
    align-items: center;
    background-color: darkgrey;
    border-radius: 10px;
    display: flex;
    height: 40px;
    justify-content: center;
    margin: 0px 10px;
    width: 140px;
}

.modal-button {
    align-items: center;
    background-color: transparent;
    border-radius: 10px;
    border: none;
    box-shadow: none;
    cursor: pointer;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    height: 40px;
    justify-content: center;
    outline: none;
    width: 140px;
}

.modal-button:hover {
    background-color: rgba(255, 255, 255, 0.3);
}
