@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');

/* Global Styling */

* {
    margin: 0;
    padding: 0;
}

html {
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-color: rgb(226, 226, 226);
    background-size: cover;
    background: url(./images/background.svg) no-repeat center center fixed;
    color: black;
    font-family: 'Quicksand', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
}

i {
    color: black;
    font-size: 1.3rem;
}

/* Title Box Styling */

#title-box {
    align-items: center;
    background-color: #197545;
    border-bottom: 5px solid goldenrod;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.8);
    display: flex;
    height: 40px;
    justify-content: center;
    left: 0px;
    padding: 10px 0px;
    position: fixed;
    top: 0px;
    white-space: nowrap;
    width: 100vw;
    z-index: 4;
}

#title-box h1 {
    color: white;
    font-family: 'Cabin Sketch', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
}

#page-info-button {
    position: absolute;
    right: 15px;
    background-color: transparent;
    border-radius: 50%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

#page-info-button i {
    font-size: 1.4rem;
    color: goldenrod;
    padding: 2px 1px 0px 1px;
}

#page-info-button:hover, #page-info-button:active, #page-info-button:focus {
    outline: 1px solid aqua;
    -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
	animation: heartbeat 1.5s ease-in-out infinite both;
}

@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

/* Toolbar Styling */

.toolbar-wrapper {
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.8);
    display: grid;
    height: 95px;
    left: 0px;
    overflow: auto;
    position: fixed;
    top: 65px;
    width: 100vw;
    z-index: 3;
}

.toolbar {
    align-items: center;
    column-gap: 10px;
    display: grid;
    grid-template-columns: repeat(15, auto);
    justify-content: center;
    padding: 10px 20px;
    white-space: nowrap;
}

.toolbar-section span {
    align-items: center;
    display: flex;
    font-size: 0.75rem;
    justify-content: center;
    user-select: none;
    white-space: nowrap;
}

.toolbar-divider {
    background-color: rgba(0, 0, 0, 0.2);
    height: 100%;
    width: 1px;
}

/* Button Styling */

.buttons-container {
    align-items: center;
    display: flex;
    justify-content: center;
}

.toolbar-button {
    align-items: center;
    background-color: transparent;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    height: 40px;
    justify-content: center;
    margin: 5px;
    width: 40px;
}

#quantity-selector, #object-selector {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    color: black;
    height: 30px;
    margin: 15px 5px 15px 5px;
}

#object-selector {
    width: 120px;
}

#dec-width-button i, #inc-width-button i {
    transform: rotate(45deg);
}

#dec-length-button i, #inc-length-button i {
    transform: rotate(-45deg);
}

#send-backward-button i {
    transform: rotate(180deg);
}

.bg-active:hover, .bg-active:active, .bg-active:focus {
    background-color: rgba(255, 255, 255, 0.3);
}

.ol-active:hover, .ol-active:active, .ol-active:focus {
    outline: 1px solid aqua;
}

/* Classroom Styling */

#classroom-container {
    position: fixed;
    top: 160px;
    width: 100vw;
    height: calc(100vh - 160px);
    overflow: auto;
}

#classroom-wrapper {
    align-items: center;
    display: grid;
    height: fit-content;
    width: fit-content;
    min-height: 250px;
    min-width: 250px;
    justify-items: center;
    padding-top: 60px;
    padding-bottom: 120px;
    padding-left: 60px;
    padding-right: 60px;
    margin: auto;
}

#classroom {
    background-blend-mode: lighten;
    background-image: url(./images/grid.png);
    border: 5px solid darkgrey;
    box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.8);
    height: 380px;
    max-height: 670px;
    max-width: 670px;
    min-height: 240px;
    min-width: 240px;
    overflow: hidden;
    position: relative;
    width: 380px;

}

/* Drawer Styling */

#drawer {
    background-color: rgba(255, 255, 255, 0.8);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    bottom: 0px;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.8);
    display: grid;
    grid-template-rows: 60px auto 65px;
    height: auto;
    left: 0px;
    padding: 0px 10px 10px 10px;
    position: fixed;
    top: calc(100vh - 60px);
    width: 300px;
    z-index: 4;
}

.drawer-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.drawer-row span {
    display: flex;
    font-size: 0.75rem;
    justify-content: center;
    user-select: none;
    white-space: nowrap;
}

.span-2-col {
    grid-column: 1 / span 2;
}

.span-3-col {
    grid-column: 1 / span 3;
}

#collapse-drawer-button {
    align-items: center;
    background-color: transparent;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    height: 40px;
    justify-content: center;
    margin: 10px 0px;
    width: 100%;
}

#collapse-drawer-button i {
    color: black;
    pointer-events: none;
    transition: transform 0.5s ease-out;
}

.collapse-drawer-label {
    color: black;
    font-weight: bold;
    margin: 0px 10px;
    user-select: none;
}

#student-list {
    background-color: rgba(218, 165, 32, 0.4);
    border-radius: 10px;
    height: calc(50vh - 85px);
    margin-bottom: 10px;
    overflow: auto;
    width: 100%;
}

.student {
    align-items: center;
    background-color: white;
    border-radius: 10px;
    border: 2px solid goldenrod;
    column-gap: 5px;
    cursor: pointer;
    display: grid;
    grid-template-columns: 30px auto 30px 30px;
    justify-content: left;
    justify-content: stretch;
    margin: 5px;
    padding: 5px;
}

.student button {
    align-items: center;
    background-color: transparent;
    border-radius: 5px;
    border: none;
    display: flex;
    font-size: 1rem;
    height: 30px;
    justify-content: center;
    width: 30px;
}

.student p {
    overflow: hidden;
    pointer-events: none;
    user-select: none;
    white-space: nowrap;
}

.assigned {
    background-color: rgb(240, 195, 81);
}

/* Classroom Objects Styling */

.student-desk {
    align-items: center;
    background-color: lightgrey;
    border: 2px solid black;
    display: flex;
    height: 26px;
    justify-content: center;
    width: 26px;
}

.student-desk i {
    font-size: 1rem;
    pointer-events: none;
}

.teacher-desk {
    background-color: brown;
    border: 2px solid black;
    height: 36px;
    width: 76px;
}

.bookshelf {
    background-color: burlywood;
    border: 2px solid black;
    height: 16px;
    width: 46px;
}

.whiteboard {
    background-color: rgb(120, 165, 79);
    border: 2px solid black;
    height: 6px;
    width: 96px;
}

.doorway-left, .doorway-right {
    background-color: rgba(255, 160, 122, 0.5);
    border: 2px dotted black;
    height: 36px;
    width: 36px;
}

.doorway-left {
    border-bottom-right-radius: 100%;
    border-left: 2px solid black;
}

.doorway-right {
    border-left: 2px solid black;
    border-top-right-radius: 100%;
}

.window {
    background-color: rgba(10, 187, 187, 0.5);
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    border: 2px solid black;
    height: 50px;
    width: 6px;
}

.wall-segment {
    background-color: darkgrey;
    border: 2px solid black;
    height: 36px;
    width: 6px;
}

.table-round {
    background-color: bisque;
    border-radius: 50%;
    border: 2px solid black;
    height: 46px;
    width: 46px;
}

.table-square {
    background-color: bisque;
    border: 2px solid black;
    height: 46px;
    width: 46px;
}

.table-rectangle {
    background-color: bisque;
    border: 2px solid black;
    height: 46px;
    width: 76px;
}

.computer-station {
    background-color: rgb(224, 127, 164);
    border: 2px solid black;
    height: 36px;
    width: 36px;
}

[data-object-id] {
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    left: 0px;
    position: absolute;
    top: 0px;
}

[data-object-id] span {
    font-size: 0.5rem;
    font-weight: bold;
    line-height: 1;
    pointer-events: none;
    text-align: center;
    user-select: none;
}

[data-object-id]:hover {
    border-color: aqua;
}

[data-object-id]:hover, [data-object-id]:active, [data-object-id]:focus {
    border-color: aqua;
    outline: none;
}

.selected {
    border-color: greenyellow;
}

/* Display Name Styling */

.display-name {
    align-items: center;
    background-color: black;
    border-radius: 6px;
    bottom: 120%;
    color: #fff;
    display: flex;
    font-size: 0.6rem;
    justify-content: center;
    min-height: 7px;
    min-width: 30px;
    padding: 2px 6px 3px 6px;
    pointer-events: none;
    position: absolute;
    text-align: center;
    visibility: hidden;
    white-space: nowrap;
    z-index: 1;
}

.display-name::after {
    border-color: black transparent transparent transparent;
    border-style: solid;
    border-width: 5px;
    content: "";
    left: 50%;
    margin-left: -5px;
    pointer-events: none;
    position: absolute;
    top: calc(100% - 2px);
}

/* Modal Styling */

#add-student-modal{
    background-color: rgba(0,0,0,0.6);
    display: none;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
}

.modal-container {
    background-color: #fefefe;
    border-radius: 10px;
    border: 1px solid black;
    margin: 15% auto;
    max-width: 500px;
    padding: 20px;
    width: 60vw;
}

.modal-header {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    width: 100%;
}

.modal-header p {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

.modal-content {
    margin: 0px;
}

.modal-section {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 10px;
    white-space: nowrap;
}

.modal-section label {
    font-weight: bold;
}

.modal-section input {
    margin: 5px 10px;
    width: 70%;
}

#first-name, #last-name {
    padding: 3px;
}

.modal-footer {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.modal-button {
    align-items: center;
    background-color: transparent;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    height: 40px;
    justify-content: center;
    width: 140px;
    margin: 5px;
}

#close-modal-button {
    background-color: lightgrey;
}

#save-changes-button {
    background-color: goldenrod;
}

#close-modal-button:hover, #close-modal-button:active, #close-modal-button:focus {
    background-color: rgba(211, 211, 211, 0.8);
}

#save-changes-button:hover, #save-changes-button:active, #save-changes-button:focus {
    background-color: rgba(218, 165, 32, 0.8);
}

/* Snackbar Styling */

.snackbar {
    visibility: hidden;
    width: fit-content;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 15px;
    position: fixed;
    z-index: 4;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    bottom: 20px;
    font-size: 1rem;
}

.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 20px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 20px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 20px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 20px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

/* Print Styling */

#print-title {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 30px;
}

.print-list {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

/* Media Queries */

@media screen and (max-width: 600px) {
    #title-box h1 {
        font-size: 8vw;
    }

    #footer {
        visibility: hidden;
    }

    #drawer {
        width: calc(100vw - 20px);
    }

    #student-list {
        width: calc(100vw - 20px);
    }


}
